<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="geektime.spring.data.springbucks.mapper.CoffeeOrderMapper">
    <resultMap id="BaseResultMap" type="geektime.spring.data.springbucks.model.CoffeeOrder">
        <result property="id" column="id"/>
        <result property="state" column="state"/>
        <result property="customer" column="customer"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="CoffeeOrder" resultMap="BaseResultMap">
        select *
        from t_order
    </select>

    <insert id="save" parameterType="geektime.spring.data.springbucks.model.CoffeeOrder" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_order (create_time,
                             update_time,
                             customer,
                             state)
        values (now(),
                now(),
                #{customer},
                #{state})
    </insert>

    <insert id="update" parameterType="geektime.spring.data.springbucks.model.CoffeeOrder">
        update t_order
        set update_time = now(),
            state       = #{state}
        where id = #{id}
    </insert>

    <delete id="delete">
        delete
        t_order where id = #{id}
    </delete>
</mapper>