<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    1、基于XML装配Bean，使用构造注入方式装配实例。-->
    <bean id="student-by-constructor" class="geektime.spring.data.springbucks.model.Student">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="使用构造注入方式装配实例"/>
    </bean>
    <!--    2、基于XML装配Bean，使用setter方式注入-->
    <bean id="student-by-setter" class="geektime.spring.data.springbucks.model.Student">
        <property name="id" value="2"/>
        <property name="name" value="使用setter方式注入"/>
    </bean>
    <!--    3、基于XML装配Bean，使用p命名空间方式注入-->
    <bean id="student-by-p-namespace" class="geektime.spring.data.springbucks.model.Student" p:id="3"
          p:name="使用p命名空间方式注入"/>
    <!--    4、基于XML装配Bean，使用FactoryBean方式注入-->
    <bean id="student-by-factory-bean" class="geektime.spring.data.springbucks.factory.MyFactoryBean"/>
    <!--    5、基于XML装配Bean，使用静态方法装配注入-->
    <bean id="student-by-static-method" class="geektime.spring.data.springbucks.model.Student"
          factory-method="createUser"/>
</beans>